<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Offline Configuration Tool</title>
    <script src="/assets/js/tailwind.js"></script>
    <link rel="stylesheet" href="/assets/css/custom.css" />
  </head>
  <body class="bg-gray-900 text-gray-100 min-h-screen dark">
    <div id="toast-container"></div>
    <div class="max-w-6xl mx-auto p-5">
        {{{body}}}
    </div>
  </body>
</html>
